body{
	background-color: #e6e6ff;
	font-size: 1.2em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bodyRuby{
	background-color: #990000;
	transition-duration: 3.5s;
	color: white;
}

.wrapper{
	margin-left: 8%;
	margin-right: 12%;
	margin-top: 50px;
}

.wrapper2{
	margin-left: 5%;
	margin-right: 6%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.header {
	margin-left: 12%;
	margin-right: 18%;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 40px;
	padding-bottom: 55px;
	border: 5px solid #4da6ff;
	background-color: #99ccff;
}

.headerRuby {
	margin-left: 12%;
	margin-right: 18%;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 40px;
	padding-bottom: 55px;
	border: 5px solid #ffcc00;
	background-color: #4d0000;
	transition-duration: 3.5s;
}

.subhead {
	margin-left: 20%;
	margin-right: 25%;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 1.3em;
}

.qdisplay {
	border: 5px solid #4da6ff;
	background-color: #99ccff;
	margin-left: 6%;
	margin-right: 7%;
	margin-top: 15px;
	padding-left: 20px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 0.95em;
}

.qdisplayRuby {
	border: 5px solid #ffcc00;
	background-color: #4d0000;
	margin-left: 6%;
	margin-right: 7%;
	margin-top: 15px;
	padding-left: 20px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 0.95em;
	transition-duration: 3.5s;
}

.btn{
	background-color: #ccddff;
	border: 2px solid #0080ff;
	border-radius: 4px;
	font-size: 1.03em;
	padding: 4px;

}

.btnRuby {
	background-color: #e60000;
	border: 2px solid #ffd633;
	border-radius: 4px;
	font-size: 1.03em;
	padding: 4px;
	transition-duration: 3.5s;
}

.btn:hover {
	background-color: rgb(95, 182, 233);
	transition-duration: 0.2s;
}

.btnRuby:hover {
	background-color: rgb(214, 40, 40);
	transition-duration: 0.2s;
}

.btn:active {
	background-color: deepskyblue;
	transition-duration: 0.2s;
}

.btnRuby:active {
	background-color: rgb(212, 24, 24);
	transition-duration: 0.2s;
}

.hidden {
	display: none;
}

.displayResult{
	border: 5px solid #4da6ff;
	background-color: #99ccff;
	padding-left: 35px;
	padding-right: 55px;
	padding-top: 50px;
	padding-bottom: 40px;
	margin-bottom: 50px;
	line-height: 30px;
	animation: fadeIn 2s;
}

.displayResultRuby{
	border: 5px solid #ffcc00;
	background-color: #4d0000;
	padding-left: 35px;
	padding-right: 55px;
	padding-top: 50px;
	padding-bottom: 40px;
	margin-bottom: 50px;
	line-height: 30px;
	animation: fadeIn 3.5s;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% {opacity: 1; }
}

.footer{
	margin: 30px;
	padding: 30px;
}